.notfound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 30%;
    object-fit: cover;
  }
  h1 {
    color: #9f9e9e;
    font-weight: 600;
  }
  button {
    text-transform: uppercase;
    padding: 20px 30px;
    margin-top: 20px;
    border: none;
    font-weight: 700;
    background-color: #222;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      color: #222;
      background-color: #fdcf41;
    }
  }
}
@media only screen and (max-width: 1024px) {
    .notfound{
        img{
            width: 70%;
        }
        h1{
            font-size: 16px;
        }
    }
}
