.search {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateY(100%);
  animation: slideSearchWindow 0.5s ease forwards;
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    input {
      width: 100%;
      max-width: 1200px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #212121;
      outline: none;
      border: none;
      text-transform: uppercase;
    }
    svg {
      position: absolute;
      font-size: 40px;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &__resultContent {
    max-width: 800px;
    margin: 0 auto;
  }
  &__results {
    height: calc(100vh - 110px);
    overflow: auto;
    margin: 20px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &-img {
      background-color: rgba(0, 0, 0, 0.2);
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h1 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 10px;
      font-weight: 600;
      display: block;
    }
  }
}
@keyframes slideSearchWindow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
